---
---
/* Globals */
/* Base structure */
html,
body {
	height: 100%;
	background-image: url('/img/cover.jpg');
	background-size: cover;
}
body {
	text-align: center;
}
/* Links */
a,
a:active,
a:focus,
a:hover {
	color: #fff;
}
.pgp a,
.pgp a:active,
.pgp a:focus,
.pgp a:hover {
	color: #fff;
	text-decoration: none;
}
.btn a,
.btn a:active,
.btn a:focus,
.btn a:hover {
	color: #69b7f6;
	text-decoration: none;
}
/* Buttons style */
.btn-group .btn-primary {
	height: 50px;
	border-radius: 0;
	color: #69b7f6;
}
.btn-group .btn-primary:active,
.btn-group .btn-primary:focus,
.btn-group .btn-primary:hover {
	background-color: rgba(51,122,183,0.5);
	color: #69b7f6;
	border-top-color: rgba(51,122,183,0);
	border-bottom-color: rgba(51,122,183,0);
	border-left-color: rgba(51,122,183,0);
	border-right-color: rgba(51,122,183,0);
	outline: 0;
}
.btn-group {
	width: 300px;
}
/* Top buttons */
.top {
	width: 33.3%;
}
/* Bottom buttons */
.bottom {
	width: 49.7%;
}
.cover-heading, .lead {
	color: #fff;
}
/* Second row of buttons */
.srow {
	margin-top: 0.2%;
}
/* Email & PGP */
.email,
.pgp {
	background-color: rgba(51,122,183,0.5);
	color: #fff;
	width: 99.1%;
	line-height: 50px;
	border-bottom: 2px solid #69b7f6;
	/*word-wrap: break-word;*/
}
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
	display: table;
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;
	font-family: 'Roboto', sans-serif;
}
.site-wrapper-inner {
	display: table-cell;
	vertical-align: top;
}
.cover-container {
	margin-right: auto;
	margin-left: auto;
}
/* Padding for spacing */
.inner {
	padding: 30px;
}
/* Header */
.masthead-brand {
	margin-top: 10px;
	margin-bottom: 10px;
}
.masthead-nav > li {
	display: inline-block;
}
.masthead-nav > li + li {
	margin-left: 20px;
}
.masthead-nav > li > a {
	padding-right: 0;
	padding-left: 0;
	font-size: 16px;
	font-weight: bold;
	color: #fff; /* IE8 proofing */
	color: rgba(255,255,255,.75);
	border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
	background-color: transparent;
	border-bottom-color: #a9a9a9;
	border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
	color: #fff;
	border-bottom-color: #fff;
}
@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}
/* Cover */
.cover {
	padding: 0 20px;
}
.cover .btn-lg {
	padding: 10px 20px;
	font-weight: bold;
}
/* Footer */
.mastfoot {
	color: #fff; /* IE8 proofing */
}
.mastfoot a {
	background-color: rgba(51,122,183,1);
	color: #69b7f6;
	text-decoration: none;
	padding: 10px;
}
.mastfoot a:hover {
	background-color: rgba(51,122,183,0.5);
	color: #69b7f6;
	text-decoration: none;
}
/* Affix and center */
@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}
@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
