---
layout: default
title: Blog posts
permalink: /blog/
---

<div class="container">
  <div class="wrapper">
    <div class="is-2-4 is-m-1-5 is-centered">
      {% include header.html %}
    </div>
    <div class="is-2-4 is-m-1-5 posts">
      {% for post in site.posts %}
	<h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	<span class="secondary">
	  {{ post.date | date: "%B %-d, %Y" }}
	</span>
	</h3>
      {% endfor %}
    </div>
    <div class="is-2-4 is-m-1-5 is-centered footer">
      {% include footer.html %}
    </div>
  </div>
</div>
