---
layout: default
---

<div class="inner cover">
  <h1 class="cover-heading">{{ site.title }}</h1>
  <p class="lead">{{ site.description }}</p>
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-primary">{% include icon-twitter.html username=site.twitter_username %}</button>
    <button type="button" class="btn btn-primary">{% include icon-github.html username=site.github_username %}</button>
    <button type="button" class="btn btn-primary">{% include icon-linkedin.html username=site.linkedin_username %}</button>
  </div>
</div>
