---
layout: default
title: Petros Kalogiannakis's projects
permalink: /projects/
---

<div class="container">
  <div class="wrapper">
    <div class="is-2-4 is-m-1-5 is-centered">
      {% include header.html %}
      <div class="contact">
	<a href="{{ site.linkedin }}" target="_blank" rel="noopener" class="linkedin"><i class="fab fa-linkedin fa-lg"></i></a>
	<a href="{{ site.github }}" target="_blank" rel="noopener"><i class="fab fa-github fa-lg"></i></a>
	<a href="{{ site.stackoverflow }}" target="_blank" rel="noopener" class="so"><i class="fab fa-stack-overflow fa-lg"></i></a>
	<a href="{{ site.codepen }}" target="_blank" rel="noopener"><i class="fab fa-codepen fa-lg"></i></a>
	<a href="mailto:{{ site.email }}" target="_blank" rel="noopener"><i class="fas fa-envelope fa-lg"></i></a>
      </div>
      <div class="divider"></div>
    </div>
    <div class="is-2-4 is-m-1-5 projects">
      <h3><a href="https://github.com/kalpetros/influence" target="_blank" rel="noopener">Influence</a></h3>
      <p>Influence is a minimal dashboard featuring Google's material design that replaces chrome's built in new tab page with beautiful backgrounds and a plethora of useful tools.</p>
      <h3><a href="https://github.com/kalpetros/hawkpass-desktop" target="_blank" rel="noopener">Hawkpass desktop</a></h3>
      <p>The desktop client of the Hawkpass web app built on <a href="http://electron.atom.io/" target="_blank" rel="noopener">electron</a>.</p>
      <h3><a href="https://www.petroskal.com/hawkpass/" target="_blank" rel="noopener">Hawkpass</a></h3>
      <p>A web application that generates secure random <a href="http://world.std.com/~reinhold/diceware.html" target="_blank" rel="noopener">diceware</a> passwords using entropy collected by your mouse movements.</p>
      <h3><a href="https://conforgapp.appspot.com/" target="_blank" rel="noopener">Conference organization</a></h3>
      <p>Using Google App Engine's Endpoints API, built the Python backend to support a web and Android based conference organization application.</p>
      <h3><a href="https://github.com/kalpetros/projects/tree/master/item_catalog" target="_blank" rel="noopener">Catalog app</a></h3>
      <p>A content management system using the Flask framework in Python. Authentication is provided via OAuth and all data is stored within a PostgreSQL database.</p>
      <h3><a href="https://duckduckgo.com/?q=cryptography+cheat+sheet&ia=cheatsheet" target="_blank" rel="noopener">DuckDuckGo Instant Answer</a></h3>
      <p>A cryptography cheat sheet for the duckduckgo search engine.</p>
      <h3><a href="http://www.bodyinformer.com/" target="_blank" rel="noopener">Bodyinformer</a></h3>
      <p>Bodyinformer is a web application that provides users with information about their health and fitness needs. Written using Python, webapp2, jinja2 and hosted on Google App Engine.</p>
      <h3><a href="https://www.petroskal.com" target="_blank" rel="noopener">petroskal.com</a></h3>
      <p>Personal website. Built on jekyll, css grid, sass, gulp, postcss, fontawesome and hosted on GitHub pages.</p>
      <h3><a href="https://www.microsoft.com/en-gb/store/p/bodycalc/9wzdncrdmq64" target="_blank" rel="noopener">Bodycalc</a></h3>
      <p>Similar application to Bodyinformer developed as an experiment to test the Windows 8 Metro UI back in 2012.</p>
      <h3><a href="http://kalpet89.deviantart.com/art/Aria-290353844" target="_blank" rel="noopener">Aria</a></h3>
      <h3><a href="http://kalpet89.deviantart.com/art/Silva-Suite-266575508?q=gallery%3Akalpet89&qo=2" target="_blank" rel="noopener">Silva Suite</a></h3>
    </div>
    <div class="is-2-4 is-m-1-5 is-centered">
      {% include footer.html %}
    </div>
  </div>
</div>
