<header>
  <ul class="list">
    <li>
      <a href="{{ site.github }}" target="_blank" rel="noopener"><i class="fa fa-github"></i></a>
    </li>
    <li>
      <a href="{{ site.linkedin }}" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a>
    </li>
    <li>
      <a href="mailto:{{ site.email }}" target="_blank" rel="noopener"><i class="fa fa-envelope-o"></i></a>
    </li>
    <li>
      <a href="{{ site.codepen }}" target="_blank" rel="noopener"><i class="fa fa-codepen"></i></a>
    </li>
    <li>
      <a href="{{ site.stackoverflow }}" target="_blank" rel="noopener"><i class="fa fa-stack-overflow"></i></a>
    </li>
  </ul>
  <a href="/"><img id="gravatar" class="img-circle big" src=""></a>
  <h1 class="title">{{ site.firstname }} {{ site.lastname }}</h1>
  <h2 class="subtitle">{{ site.description }}</h2>
  <div class="divider"></div>
</header>
