@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.51572rem;
}

h3 {
  font-size: 1.31951rem;
}

p {
  font-size: 1.25rem;
}

pre {
  border-radius: 5px;
}

.grayscale {
  filter: grayscale(1);
}

.has-tooltip:after {
  content: attr(data-tooltip);
  position: absolute;
  top: 0;
  right: 100%;
  width: max-content;
  background-color: #000;
  color: #fff;
  font-weight: 400;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.75rem;
  display: none;
  z-index: 1;
}

.has-tooltip:hover:after {
  display: block;
}

@media (max-width: 600px) {
  .has-tooltip:after {
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    right: 0;
    width: auto;
    background-color: #000;
    color: #fff;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-right: 0;
    border-radius: 0.75rem;
    display: none;
    z-index: 1;
  }
}
